.btn-green-link {
    color: #28a745!important;
}
.btn-green-link:hover {
    color: #28a745!important;
}

.error-block {
    color: #dc3545;
}

.header-mobile .header-mobile__bar {
    padding-top: 0!important;
}
.logo-img {
    max-width: 60%!important;
}
