/* Thin 100 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
    url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Thin 100 italic - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
    url('../fonts/montserrat/Montserrat-ThinItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Extra-light 200 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
    url('../fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Extra-light 200 italic - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
    url('../fonts/montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Light 300 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat Light'), local('Montserrat-Light'),
    url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Light 300 italic - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
    url('../fonts/montserrat/Montserrat-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Regular 400 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Regular 400 italic - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
    url('../fonts/montserrat/Montserrat-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Medium 500 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Medium 500 italic - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
    url('../fonts/montserrat/Montserrat-MediumItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Semi-bold 600 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Semi-bold 600 italic - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
    url('../fonts/montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Bold 700 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Bold 700 italic - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
    url('../fonts/montserrat/Montserrat-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Extra-bold 800 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('../fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Extra-bold 800 italic - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
    url('../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Black 900 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat Black'), local('Montserrat-Black'),
    url('../fonts/montserrat/Montserrat-Black.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Black 900 italic - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
    url('../fonts/montserrat/Montserrat-BlackItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}
